body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.add-product-container {
  width: 90%;
  height: 80vh;
  justify-content: center;
  margin: 50px;
  display: flex;
}

.add-product {
  width: 30%;
}

.add-product form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.add-product form input {
  margin-top: 8px;
}

.add-product form input[type="file"] {
  height: 300px;
  background-color: var(--color-gris);
}

.image-view {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  gap: 10px;
  justify-content: center;
}

.image-view img {
  width: 250px;
  height: 250px;
}


.detail-view {
  width: 30%;
}

.detail-view form h3,
h4,
h5 {
  margin-top: 5px;
}

.detail-view form p {
  background-color: var(--color-gris);
  padding: 10px;
  width: 90%;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 4px;
}

.detail-view form .description {
  height: 150px;
  word-wrap: break-word;
}

.detail-view form a {
  margin-top: 1rem;
  padding: 10px;
  border-radius: 10px;
  color: #000;
  float: right;
  font-size: x-large;
}

.add-product form button {
  margin-top: 1rem;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.detail-view form button:hover {
  background-color: var(--color-azul);

}

@media (max-width: 768px) {
  .add-product-container {
    flex-direction: column;
    align-items: center;
  }


  .add-product {
    width: 45%;
    margin-top: 26em;
   margin-right: 4rem;
  }
  
  .detail-view {
    width: 45%;
    margin-top: 2rem;
    margin-right: 4rem;

  }

  .image-view img {
    width: 48%;

  }
}

@media (max-width: 500px) {

  .add-product,
  .detail-view {
    width: 100%;

  }

  .image-view img {
    width: 100%;

  }

  .add-product form input[type="file"] {
    height: 200px;

  }

  .detail-view form p {
    height: auto;

  }

  .detail-view form.description {
    height: auto;

  }
}