*
{
    margin: 0;
    padding: 0;
}

.publicaciones
{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    font-style: italic;
    text-align: center;

    height: 55px;
    margin-bottom: 1.7%;
    line-height: 55px;
    color: #000;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.export
{
    display: flex;
    justify-content: end;
}

.export .export_button_excel
{
    width: 250px;
    height: 50px;
    margin-right: 40px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    background: #5B8EF0;
    cursor: pointer;
}

.export .export_button_pdf
{
    width: 250px;
    height: 50px;
    margin-right: 40px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    background: #ff0000;
    cursor: pointer;
}

.list_product
{
    width: 90%;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
}

.list_product .list_img
{
    border: 1px solid #000;
    width: 30%;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 2px 12px -5px rgba(0,0,0,0.59);
}

.list_product .list_img img {
    width: 100%;
    height: 100%;
}

.list_product .list_detail
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
}

.list_product .actions
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}

.list_product .actions button
{
    color: #fff;
    background: #484848;
    width: 100px;
    height: 35px;
    margin-bottom: 5px;
    cursor: pointer;
}
