/* Importación de fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Importación de variables de estilo desde variables.css */
@import url('../css/variables.css');

/* Establecer márgenes, almohadillas y caja de borde predeterminados para todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Estilos para el título de la sección */
.title {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Archivo Black', sans-serif;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  line-height: 52px;
}

/* Estilos para el contenedor del carrito */
.cartcontainer {
  padding: 40px 50px;
  width: 100%;
  background: var(--color-gris);
  border-bottom: 1px solid #9a9a9a;
}

/* Estilos para el contenedor del carrito vacío */
.cartcontainer .emptycart {
  margin-top: 30px;
}

.cartcontainer .emptycart h2 {
  font-size: 32px;
  color: var(--color-secundario);
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}

/* Estilos para el botón "Vaciar carrito" */
.cartcontainer .emptycart .emptycartbtn {
  text-decoration: none;
  margin-left: 44.5%;
  color: var(--color-primario);
  padding: 10px 20px;
  background: var(--color-secundario);
}

/* Estilos para el contenedor de los detalles del carrito */
.cartcontainer .contant {
  max-width: 100%;
  padding: 20px 30px;
}

/* Estilos para cada elemento del carrito */
.cartcontainer .contant .cart_item {
  padding: 20px 30px;
  display: flex;
  background: var(--color-primario);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilos para el contenedor de la imagen del producto */
.cartcontainer .contant .cart_item .img_box {
  padding: 20px 20px;
  background: var(--color-gris);
}

/* Estilos para la imagen del producto */
.cartcontainer .contant .cart_item .img_box img {
  width: 250px;
  height: 250px;
}

/* Estilos para los detalles del producto */
.cartcontainer .contant .cart_item .detail {
  margin-left: 60px;
  display: flex;
  margin-top: 30px;
  padding: 20px 30px;
}

/* Estilos para la información del producto */
.cartcontainer .contant .cart_item .detail .info {
  margin-top: 20px;
}

/* Estilos para el título del producto */
.cartcontainer .contant .cart_item .detail .info h4 {
  text-transform: uppercase;
  font-size: 16px;
  color: #9a9a9a;
  font-weight: 100;
  letter-spacing: 1.5px;
}

/* Estilos para el precio y el nombre del producto*/
.cartcontainer .contant .cart_item .detail .info h3 {
  margin-top: 20px;
  color: var(--color-secundario);
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1px;
}

/* Estilos para la descripción del producto */
.cartcontainer .contant .cart_item .detail .info p {
  margin-top: 10px;
  color: var(--color-secundario);
  letter-spacing: 1px;
}

/* Estilos para el contenedor de la cantidad del producto */
.cartcontainer .contant .cart_item .detail .info .qty {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-secundario);
  width: 150px;
  height: 44px;
}

/* Estilos para los botones de incrementar y decrementar la cantidad */
.cartcontainer .contant .cart_item .detail .info .qty button {
  background: none;
  outline: none;
  border: none;
  color: #808080;
  font-size: 32px;
  cursor: pointer;
}

/* Estilos para el campo de entrada de la cantidad */
.cartcontainer .contant .cart_item .detail .info .qty input {
  border: none;
  outline: none;
  background: none;
  font-size: 22px;
  color: var(--color-secundario);
  width: 50px;
  margin-left: 40px;
  cursor: default;
}

/* Estilos para el subtotal del producto */
.cartcontainer .contant .cart_item .detail .info .subtotal {
  color: var(--color-secundario);
  font-size: 22px;
  margin-top: 10px;
}

/* Estilos para el botón de eliminar el producto */
.cartcontainer .contant .cart_item .detail .close {
  margin-top: 30px;
  margin-left: 50px;
}

/* Estilos para el botón de eliminar el producto */
.cartcontainer .contant .cart_item .detail button {
  border: none;
  outline: none;
  background: none;
  font-size: 22px;
  color: #db0045;
  cursor: pointer;
}

/* Estilos para el precio total */
.cartcontainer .totalprice {
  margin-top: 30px;
  margin-left: 43%;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Estilos para el botón de "Comprar ahora" */
.cartcontainer .checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 60px;
  width: 90%;
  margin-left: 5%;
  margin-top: 40px;
  padding: 10px 20px;
  color: var(--color-primario);
  border: none;
  outline: none;
  cursor: pointer;
  background: #484848;
}

/* Estilos para el icono de carrito */
.cartcontainer .checkout i {
  margin-left: 10px;
  font-size: 20px;
}