* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 100%;
    background: #ebebeb;
    border-top: 1px solid #000;
}

.footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container img {
    cursor: pointer;
}

.footer .container .about {
    display: flex;
    width: 25em;

}

.footer .container .about h3 {
    font-size: 30px;
    text-transform: uppercase;
    cursor: default;
}

.footer .container .about ul li {
    margin-top: 10px;
    font-size: 15px;
}

.footer .container .about .account {
    margin-right: 20%;
}

.footer .container ul li {
    color: #010f1c;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
}

.footer .container ul li:hover {
    color: #0989ff;
}

.footer .container ul li {
    list-style: none;
}

.page .details .icons {
    margin-top: 20px;
    display: flex;
}

.page .details .icons li {
    list-style: none;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.1s;

}

.page .details .icons li:hover {
    background: #000000;
    color: #fff;
    border-radius: 20%;
}

.footer .map iframe {

    border: none;
    height: 200px;
    width: 100%;
}

.footer .map .address {
    color: #f00;
    height: 35px;
    margin-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer .map .address h2 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    line-height: 24px;
    margin-right: 1%;
}

@media (max-width: 768px) {
    .footer .container {
        flex-direction: column; /* Cambiar la dirección de los elementos a columna */
        align-items: flex-start; /* Alinear los elementos a la izquierda */
    }

    .footer .container .about {
        width: 100%; /* Ancho completo para el bloque de información */
        margin-top: 20px; /* Espacio superior para separar del logo */
    }

    .footer .container .about .account {
        margin-right: 0; /* Eliminar el margen derecho */
    }

    .footer .container .about h3 {
        font-size: 24px; /* Reducir el tamaño de fuente */
    }

    .footer .container .about ul li {
        font-size: 14px; /* Reducir el tamaño de fuente */
    }

    .footer .map .address {
        margin-left: 0; /* Eliminar el margen izquierdo */
        margin-top: 10px; /* Espacio superior para separar del mapa */
    }

    .footer .map .address h2 {
        font-size: 12px; /* Reducir el tamaño de fuente */
    }
}

/* Estilos para pantallas de 500px o menos */
@media (max-width: 500px) {
    .footer .container .about {
        justify-content: center;
    }
    .footer .container .about h3 {
        font-size: 20px; /* Reducir aún más el tamaño de fuente */
    }

    .footer .container .about ul li {
        font-size: 12px; /* Reducir aún más el tamaño de fuente */
    }

    .footer .map .address h2 {
        font-size: 10px; /* Reducir aún más el tamaño de fuente */
    }
    .footer .container img {
        height: 100px;
        position: relative;
        top: 6em;
        right: 1em;
    }
    .footer .map iframe
    {
        margin-left: 1.5em;
    }
}