@import url('../css/variables.css');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
/*footer */
.footer {
    padding: 30px 40px;
    width: 100%;
    background: #ebebeb;
}

.footer .container {
    max-width: 100%;
    display: flex;
}


/*icon */

.icon-footer {
    margin:  0 20px ;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

.icon-footer:hover {
    background: var(--color-secundario);
    color: var(--color-primario);
    border-radius: 5px;
    font-size: 16px;
}
/*page & account*/

.contact
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:3rem ;
}
.contact ul {
    display: inline-block;
    margin-right: 10px;
}
.contact ul li
{
    list-style: none;
    
}
.contact .page
{
    margin-left: 5rem;
}