* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 100%;
    background: #ebebeb;
    border-top: 1px solid #000;
}



.footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container img {
    cursor: pointer;
}

.footer .container .about {
    display: flex;
    justify-content: center;
    width: 25em;

}

.footer .container .about h3 {
    font-size: 30px;
    text-transform: uppercase;
    cursor: default;
}

.footer .container .about  ul li {
    margin-top: 10px;
    font-size: 15px;
}

.footer .container .about  ul li a {
    text-decoration: none;
    color: #000;
}
.footer .container .about  ul li a:hover 
{
    color: var(--color-azul);
}
.footer .container .about .account {
    margin-right: 20%;
}

.footer .container ul li {
    color: #010f1c;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
}

.footer .container ul li:hover {
    color: #0989ff;
}

.footer .container ul li {
    list-style: none;
}

.page .footer-details .icons-footer {
    margin-top: 20px;
    justify-content: center;
    font-size: 220px;
    display: flex;
}

.page .footer-details .icons-footer li {
    list-style: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: xx-large;
    transition: 0.1s;

}

.page .footer-details .icons-footer li:hover {
    background: #000000;
    color: #fff;
    border-radius: 20%;
}

.footer .map iframe {

    border: none;
    height: 200px;
    width: 100%;
}

.contact-details-container {
  text-align: center;
  display: flex;
  margin-bottom: 50px;
}

.contact-details-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  color: #333;
}

.contact-details {
  list-style: none;
  padding: 0;
  font-size: 1.4rem;
  color: #333;
}

.contact-details li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
  font-size: 2rem;
  color: #000;
}

.contact-icon:hover
{
    color: var(--color-azul);
}


.footer .map .address {
    color: #f00;
    height: 35px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer .map .address h2 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    line-height: 24px;
    margin-right: 1%;
}

@media (max-width: 768px) {
    .footer .container {
        flex-direction: column; 
        align-items: flex-start; 
    }
    .footer .container img{
        display: none;
        
    }
    .footer .container .about {
        width: 100%; 
        margin-top: 20px; 
    }

    .footer .container .about .account {
        margin-right: 0;
    }

    .footer .container .about h3 {
        font-size: 24px; 
    }

    .footer .container .about ul li {
        font-size: 14px;
    }

    .footer .map .address {
        margin-left: 0; 
        margin-top: 10px; 
    }

    .footer .map .address h2 {
        font-size: 12px; 
    }
}


@media (max-width: 500px) {
    .footer .container .about {
        justify-content: center;
    }
    .footer .container .about h3 {
        font-size: 20px; 
    }

    .footer .container .about ul li {
        font-size: 12px;
    }

    .footer .map .address h2 {
        font-size: 10px; 
    }
    .footer .container img {
        height: 100px;
        position: relative;
        top: 6em;
        right: 1em;
    }
    .footer .map iframe
    {
        margin-left: 1.5em;
    }
}