.shipping{
    display: flex;
}

.shipping-Form{
    width: 50%;
}
.shipping-Form form{
margin: 2rem;
}

.shipping-Form form strong{
    color: #d85757;
}

.shipping-Form input{
    width: 526px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    margin: 1rem 0;
}
.shipping-Form p{
    color: #d85757;
}
.cart-view{
    width: 50%;
    background-color: black;
    color: white;
}