.shipping {
    display: flex;
}

.shipping-Form form {
    
    margin: 2rem;
}

.shipping-Form form strong {
    color: #d85757;
    display: block;
}

.shipping-Form input {
    width: 526px;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    margin: 1rem 0;
}

.shipping-Form .checkoutMenu {
    margin-top: 1rem;
}

.shipping-Form .checkoutMenu select {
    width: 56%;
    border-radius: 5px;
    height: 2rem;
}

.shipping-Form form button {
    border: none;
    background-color: #000;
    width: 56%;
    margin-top: 1rem;
    text-align: center;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

#transferencia{
    
    margin: 1rem 10%;
width: 300px;


}

.shipping-Form form button:hover {
    transition: .3s;
    background-color: var(--color-azul);
}

.shipping .title-shipping {
    margin: 1rem 0;
}

.cart-view {
    width: 50%;
    padding: 2rem;
    background-color: #1C1B1F;
    color: white;
}

.cart-item_shipping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.img_box {
    display: flex;
    align-items: center;
    padding: 10px;
}

.img_box img {
    margin-top: 1rem;
    height: 80px;
    width: 80px;
    border-radius: 10px;
}


#qty {
    background-color: #ddd;
    padding: 5px;
    color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    bottom: 30px;
    right: 10px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.info_box {
    width: 250px;
}

.shipping h3 {
    margin: 5px 0;
}



.info-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.price-shipping {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.subtotal {
    font-weight: bold;
}

.total-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.total-price span {
    float: left;
}

@media (max-width: 768px) {
    .shipping-Form form {
        width: 90%;
        margin: 2rem auto;
    }

    .shipping-Form input {
        width: 100%;
    }

    .shipping-Form .checkoutMenu select {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .cart-item_shipping {
        flex-direction: column;
        align-items: flex-start;
    }

    .img_box {
        margin-bottom: 10px;
    }

    .info_box {
        width: 100%;
    }
}
